/__pycache__/
/mkdocs.yml~
/docs/..pages
/docs/progression.md~
/docs/progression_REM.md~
/docs/remerciements.md~
/docs/T7_Divers/3_IDE/.DS_Store
/.DS_Store
/docs/T1_Les_bases_de_Python/.DS_Store
/docs/..pages~
/docs/.pages~
/old.gitlab-ci.yml
/docs/T1_Les_bases_de_Python/Chapitre_5:_Les_fonctions/.DS_Store
/docs/index.md~
/docs/progression_et_devoirs.md~
/startserver.sh~
/docs/T2_Representation_des_donnees/Chapitre_1:_Listes/.DS_Store
/docs/T1_Les_bases_de_Python/Chapitre_2:_La_boucle_for/#cours.md#
.DS_Store
.DS_Store
.DS_Store
./.DS_Store
/docs/T6_IHM_Web/Chapitre_1:_Interactions_page_web/.DS_Store
/docs/T6_IHM_Web/Chapitre_1:_Interactions_page_web/.DS_Store
/docs/T6_IHM_Web/Chapitre_1:_Interactions_page_web/formulaire1.html~
.DS_Store
