/__pycache__/
**/*.*~
**/.DS_Store
/old.gitlab-ci.yml
/docs/T1_Les_bases_de_Python/Chapitre_2:_La_boucle_for/#cours.md#

/docs/T2_Representation_des_donnees/Chapitre_6:_Codage_caracteres/data/test.py
/#main.py#
