/__pycache__/
/mkdocs.yml~
/docs/..pages
/docs/progression.md~
/docs/progression_REM.md~
/docs/remerciements.md~
/docs/T7_Divers/3_IDE/.DS_Store
/.DS_Store
/docs/T1_Les_bases_de_Python/.DS_Store
/docs/..pages~
/docs/.pages~
/old.gitlab-ci.yml
/docs/T1_Les_bases_de_Python/Chapitre_5:_Les_fonctions/.DS_Store
/docs/index.md~
/docs/progression_et_devoirs.md~
