.exercice {
    color: darkblue;
    font-size: 28px;
    text-decoration: underline;
}

.enonce {
    background-color: #f0f8ff;
    padding: 10px;
    border-left: 4px solid blue;
    margin: 5px 0;
}

.correction {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 4px solid green;
    font-style: italic;
    margin: 5px 0;
}
